@font-face {
    font-family: 'Karla';
    src: url('../assets/fonts/Karla-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Karla-Italic';
    src: url('../assets/fonts/Karla-Italic-VariableFont_wght.ttf');
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    /* colors */
    --primary-clr-green-200: hsl(148, 38%, 91%);
    --primary-clr-green-600:hsl(169, 82%, 27%);
    --primary-clr-red: hsl(0, 66%, 54%);
    --neutral-clr-white: hsl(0, 0%, 100%);
    --neutral-clr-grey-500: hsl(186, 15%, 59%);
    --neutral-clr-grey-900: hsl(187, 24%, 22%);   

    /* Fonts */
    --ff-Karla: 'Karla';
    --ff-Karla-italic: 'Karla-Italic'; 

    /* Font Size */
    --fs-label: 16px;

    /* Font Weights */
    --fw-regular: 400;
    --fw-bold:700;

    /* border radius */
    --br: 8px;
}
body{
    background-color: var(--primary-clr-green-200);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container{
    border-radius: var(--br);
    background-color: var(--neutral-clr-white);
    font-family: var(--ff-Karla);
    max-height: 155vh;
    min-width: 350px;
    max-width: 600px;
    margin: 1rem 1rem 1rem 1rem;    
}
.content-wrapper{
    margin: 0 1.5rem 0 1.5rem;   
}
h1{
    font-size: 30px;
    margin: 2rem 0 1rem 0;
}
h2{
    font-size: inherit;
    font-weight: inherit;
    color: var(--neutral-clr-grey-900);
    margin: 1rem 0 1.5rem 0;
}
label{    
    display: flex;
    margin: 2rem 0 .5rem 0;
    font-size: var(--fs-label);
    font-weight: var(--fw-regular);
    color: var(--neutral-clr-grey-900);    
}
label:not(.general-radio, .support-radio)::after, 
h2::after{ 
    content: "\00a0 *";
    color: var(--primary-clr-green-600);
}
input[type=text]{
    width: 100%;
    height: 3rem;
    border: 1px var(--neutral-clr-grey-500) solid;
    border-radius: var(--br);
    font-size: 20px;
    font-family: var(--ff-Karla);
}
input[type=radio] + label{
    display: inline-flex;
    margin: 1rem 0 1rem 0;
}
input[type=radio] {
    margin: 0 .5rem 0 0;    
    height: 1rem;
    width: 1rem;
}
.general-radio, .support-radio {
    top: -2.5px;
}
.radio-wrapper{
    padding: 0 0 0 1.5rem;
    border: 1px var(--neutral-clr-grey-500) solid;
    border-radius: var(--br);
    margin: 0 0 1rem 0;
}
#message{
    height: 15rem;
    margin: 0 0 .5rem 0;
}
.checbox-wrapper{
    display: inline-flex;
    text-wrap: wrap;
}
input[type=checkbox] + label{
    font-size: var(--fs-label);
    display: inline;
    margin: 1.5rem 1rem 0 .5rem;
    border-radius: 50px;
}
input[type=checkbox] {    
    margin: 1.5rem 1rem 0 0;      
    width: 25px;
}        
.submit-button{
    width: 100%;
    height: 3rem;
    background-color: var(--primary-clr-green-600);
    border: 1px var(--primary-clr-green-600) solid;
    border-radius: var(--br);
    color: var(--neutral-clr-white);
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 2rem 0 2rem 0;
}
.required{
    color: var(--primary-clr-red);
    display: none;
}
.success-toast{
    display: none;
}
.required-email-text{
    display: none;
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
    display: none;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media only screen and (min-width: 600px) {
    body{
        height: 100vh;
    }
    .content-wrapper{
        margin: 0 2rem 0 2rem;   
    }
    .name-container, .radio-group-container {
        display: inline-flex;
        gap: 1rem;
        width: 100%;
        margin: -2rem 0 0 0;
    }
    .name-group, .radio-wrapper{
        width: 100%;
        margin: 1.5rem 0 0 0;
    }
    #message{
        height: 6rem;
    }
    label{
        display: inline-flex;
    }
}